{% extends 'ideas/base.html' %}

{% load static %}
{% block static %}
<script src="{% static "ideas/js/detail.js" %}"></script>
<link rel="stylesheet" href="{% static "ideas/css/detail.css" %}" />
{% endblock %}

{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'ideas:list' %}">列表</a></li>
    <li class="is-active"><a href="#" aria-current="page">详情</a></li>
  </ul>
</nav>
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Medium title
      </h1>
      <h2 class="subtitle">
        Medium subtitle
      </h2>
    </div>
  </div>
</section>
{% endblock %}
