{% extends 'ideas/base.html' %}

{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static "common/css/bulma-calendar.min.css" %}" />
<link rel="stylesheet" href="{% static "ideas/css/list.css" %}?v=1" />
<script src="{% static "common/js/bulma-calendar.min.js" %}"></script>
<script src="{% static "common/js/infinite-scroll.pkgd.min.js" %}"></script>
<script src="{% static "ideas/js/list.js" %}"></script>
<script>
  var pageCount = {{ ideas.paginator.num_pages }};
</script>
{% endblock %}

{% block content %}
<nav class="panel search-bar">
  <div class="container">
    <form action="{% url 'ideas:list' %}">
      <div class="search-field-box">
        <div class="control has-icons-left search-field">
          <div class="select">
            <select name="department">
              <option value="">
                所有部门
              </option>
              {% for department in departments %}
              <option
                value="{{department.id}}"
                {% if request.GET.department == department.id|stringformat:"i" %}
                selected
                {% endif %}
              >
                {{department.name}}
              </option>
              {% endfor %}
            </select>
          </div>
          <span class="icon is-left">
            <i class="fa fa-building-o" aria-hidden="true"></i>
          </span>
        </div>
        <p class="control has-icons-left search-field">
          <input
            name="keywords"
            class="input"
            placeholder="关键词"
            value="{{ request.GET.keywords }}"
          />
          <span class="icon is-left">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </p>
        <p class="control search-field">
          <input id="idea-date" type="date" />
          <input name="start" type="hidden" value="{{ request.GET.start }}" />
          <input name="end" type="hidden" value="{{ request.GET.end }}" />
        </p>
        <input name="order" type="hidden" value="{{ request.GET.order }}" />
        <div>
          <button class="button is-link search-button" type="submit">
            <strong>搜索</strong>
          </button>
          <a class="button is-link add-idea">
            <strong>发表</strong>
          </a>
        </div>
      </div>
    </form>
  </div>
</nav>
<div id="idea-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">金点子</p>
    </header>
    <section class="modal-card-body">
      <form>
        {% csrf_token %}
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">主题</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  id="title"
                  name="title"
                  class="input"
                />
              </p>
              <p id="title-help" class="help is-danger hidden">
                请输入主题！
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">内容</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <textarea
                  class="textarea"
                  id="description"
                  name="description"
                ></textarea>
              </p>
              <p id="description-help" class="help is-danger hidden">
                请输入内容！
              </p>
            </div>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button id="submit-idea" class="button is-success">
        提交
      </button>
      <button id="close-modal" class="button">
        取消
      </button>
    </footer>
  </div>
</div>
<section class="container ideas">
  <nav class="level">
    <div class="level-left"></div>
    <div class="level-right">
      <a class="level-item order">
        发布时间&nbsp;
        <i
          class="fa
                 fa-long-arrow-up
                 {% if not request.GET.order or request.GET.order == 'desc' %}is-light{% endif %}"
          aria-hidden="true"
        ></i>
        <i
          class="fa
                 fa-long-arrow-down
                 {% if request.GET.order == 'asc' %}is-light{% endif %}"
          aria-hidden="true"
        ></i>
      </a>
    </div>
  </nav>
  {% for idea in ideas %}
  <div class="box content idea-item is-relative">
    <article class="post">
      <div class="media">
        <div class="media-content">
          <div class="content">
            <h4>{{idea.title}}</h4>
            <p class="idea-description">
              {{idea.description}}
            </p>
            <p>
              <a href="#">{{idea.user.name}}</a>
              &nbsp;{{ idea.user.department.name }}
              <br/>{{idea.created_datetime|date:"Y-m-d H:i:s"}}
            </p>
          </div>
        </div>
      </div>
    </article>
    {% if not idea.is_accepted %}
    <div class="actions">
      {% if request.user.can_accept %}
      <a
        class="button is-primary is-light accept-idea"
        title="采纳此建议"
        data-idea-id="{{idea.id}}"
      >
        <span class="icon">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
        </span>
      </a>
      {% endif %}
      {% if request.user.id == idea.user.id %}
      <a
        class="button is-primary is-light edit-idea"
        title="编辑此建议"
        data-idea-id="{{idea.id}}"
        data-idea-title="{{idea.title}}"
        data-idea-description="{{idea.description}}"
      >
        <span class="icon">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </span>
      </a>
      {% endif %}
    </div>
    {% else %}
    <div class="ribbon ribbon-top-right"><span>已采纳</span></div>
    {% endif %}
  </div>
  {% empty %}
  <div class="is-flex no-data">
    <img src="{% static "ideas/img/empty.png" %}" />
  </div>
  <div class="is-flex no-data">
    <div>暂无数据</div>
  </div>
  {% endfor %}
</section>
<div class="page-load-status">
  <div class="loader-ellips infinite-scroll-request">
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
  </div>
  <p class="infinite-scroll-last">亲，我是有底线的</p>
  <p class="infinite-scroll-error">亲，我是有底线的</p>
</div>
{% endblock %}
