html,body {
  background: #F2F6FA;
}

section.container {
  margin-top: 2rem;
}

.navbar-menu .navbar-item {
  padding: 0 2rem;
}

.button.is-primary.is-alt {
  background: #00c6ff;
  background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
}

.media-left img {
  border-radius: 50%;
}

.media-content p {
  font-size: 14px;
  line-height: 2.3;
  font-weight: 700;
  color: #8F99A3;
}

article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}

article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.menu-list li{
  padding: 5px;
}

.search-bar {
  background-color: #FFFFFF;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 6px;
}

.pagination.is-white {
  padding: 1.5rem;
  background-color: #FFFFFF;
}

.search-button, .add-idea {
  margin-left: 10px;
}

.idea-item:hover {
  background-color: #EEFFFF;
}

.no-data {
  justify-content: center;
}

.modal-card-foot {
  justify-content: flex-end;
}

.idea-description {
  white-space: pre-line;
}
