{% extends 'common/base.html' %}

{% load static %}
{% block title %}
投票
{% endblock %}
{% block static %}
<link rel="stylesheet" href="{% static "common/css/bulma-calendar.min.css" %}" />
<link rel="stylesheet" href="{% static "activities/css/common.css" %}" />
<link rel="stylesheet" href="{% static "activities/css/create.css" %}" />
<script src="{% static "common/js/bulma-calendar.min.js" %}"></script>
<script src="{% static "activities/js/common.js" %}"></script>
<script src="{% static "activities/js/create.js" %}"></script>
{% endblock %}

{% block content %}
<section class="container">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'activities:list' %}">投票</a></li>
      <li class="is-active"><a href="#" aria-current="page">发起投票</a></li>
    </ul>
  </nav>
  <form class="activity-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field">
      <label class="label">主题</label>
      <div class="control">
        <input class="input" name="title">
      </div>
      <p id="title-help" class="help is-danger hidden"></p>
    </div>

    <div class="columns">
      <div class="column is-one-third">
        <div class="field">
          <label class="label">截止时间</label>
          <div class="control">
            <input name="end_datetime" type="date" />
            <p id="end-datetime-help" class="help is-danger hidden"></p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="field">
          <label class="label">每位投票者最多可投</label>
          <div class="control">
            <div class="select">
              <select name="vote_num_per_user">
                <option value="1">1票</option>
                <option value="2">2票</option>
                <option value="3">3票</option>
                <option value="4">4票</option>
                <option value="5">5票</option>
                <option value="6">6票</option>
                <option value="7">7票</option>
                <option value="8" selected>8票</option>
                <option value="9">9票</option>
                <option value="10">10票</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <label class="label">
        选项
        <span class="icon add-option-icon" title="增加选项">
          <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
        </span>        
      </label>
      <div class="columns is-multiline option-container"></div>
    </div>

    <div class="field is-grouped is-justified-center button-box">
      <div class="control">
        <button class="button is-link">发起投票</button>
      </div>
      <div class="control">
        <a
          type="button"
          class="button is-link is-light"
          href="{% url 'activities:list' %}"
        >
          返回列表
        </a>
      </div>
    </div>
  </form>
    
</section>

<div class="modal" id="image-modal">
  <div class="modal-background"></div>
  <div class="">
    <p class="image">
      <img class="modal-image">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}
