.hidden {
  display: none;
}

.topNav {
  border-top: 5px solid #3498DB;
}

.topNav .container {
  border-bottom: 1px solid #E6EAEE;
}

.navbar.is-white .navbar-brand>a.navbar-item:hover {
    background-color: unset;
    color: unset;
}

.navbar-menu .navbar-item {
  padding-left: 2rem;
  padding-right: 2rem;
}

#navbar-content > .navbar-start > a.navbar-item:hover {
    background-color: #fafafa;
    color: #3273dc;
}
